<h1> Questions </h1>
<% @questions.each do |question| %>

  <p id='question'> <%= question.question %> </p>

  <section class='buttons'>
    <p id='true_button'> <%= link_to name = 'True', question.answer  %> </p>
    <p id='false_button'> <%= link_to name = 'False', question.answer  %> </p>
  </section>

<% end %>
